<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
	<listeners>
		<listener class-name="listeners.ExtentTestListener" />
	</listeners>

	<test name="All Tests">
		<classes>
		
			<class name="tests.HomePageTest" />
			<class name="tests.ProductsPageTest" />
			<class name="tests.CartPageTest" />
			<class name="tests.CheckoutPageTest" />
			<class name="tests.PaymentPageTest" />
			<class name="tests.DownloadInvoicePageTest" />
			<class name="tests.ContactUsPageTest" />

		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
